@import url('https://fonts.googleapis.com/css?family=Roboto')

*
	box-sizing: border-box
	vertical-align: top
	margin: 0
	padding: 0
	border: none
	color: inherit
	font-family: roboto

h1,h2,h3,h4,h5,h6
	padding: .2rem 0 .5rem 0

p
	padding: .5rem 0

ul, ol
	padding: .5rem 0 .5rem 1.2rem

hr
	border-top: 1px solid #333
	margin: .5rem 0

button
	cursor: pointer
	background: #ccc

body
	display: flex
	flex-flow: row wrap
	align-content: flex-start
	font-family: 'Helvetica Neue', sans-serif
	font-size: 16px
	padding: .5rem

[required]
	&.error
		border: 1px red solid

[draggable]
	-moz-user-select: none
	-webkit-user-select: none
	user-select: none
	-webkit-user-drag: element
	cursor: move

section
	flex: 1
	padding: 1rem
	margin: .5rem
	background-color: #eee

	.heading
		flex-basis: 100%
		font-size: 1.3rem
		margin-bottom: 1rem

#bom

	.title
		margin-bottom: 1rem

	.title,
	.creators
		display: flex
		align-items: center
		background: #fff
		overflow-x: auto

		span
			display: flex
			align-items: center
			justify-content: flex-end
			width: 5rem
			padding: .5rem
			background-color: #ccc
			text-align: right
			height: 2.8rem
			margin-right: .5rem

		input
			padding: .5rem
			flex: 1
			background: #eee
			margin: .5rem 0
			margin-right: .5rem

		.creator
			position: relative

			input
				padding: .5rem 1.6rem .5rem .5rem

			&:before
				content: '×'
				display: block
				position: absolute
				right: 1rem
				top: .75rem
				cursor: pointer

#addCreator
	position: relative
	flex-shrink: 0
	width: 2rem
	height: 2rem
	margin-right: .5rem
	background: #fff
	font-size: 1.5rem

	&:before
		content: '+'
		font-size: 1.4rem
		position: absolute
		top: .5rem
		left: .5rem
		line-height: 1rem

#text
	display: flex
	flex-direction: column
	margin-top: 2rem

	.heading
		flex: none

	textarea
		flex: 1
		padding: 1rem
		resize: none

#result
	flex-basis: 100%
	display: flex
	flex-flow: row wrap
	align-content: flex-start
	padding: .5rem

	.heading
		padding: 1rem 1rem 0 1rem

	.id
		flex: 1
		text-align: center
		padding: .5rem
		text-transform: capitalize

		&.changed
			color: #ff9800

		.value
			margin-top: 1rem
			background: #fff
			padding: 1rem
			color: #000

		.bits
			background: #fff
			font-size: .75rem
			padding-bottom: 1rem
			color: #000

			.bit
				&.changed
					background-color: #ffeb3b

#loadingBar
	flex-basis: calc(100% + 1rem)
	height: .2rem
	position: relative
	overflow: hidden

	&.loading
		.bar
			left: -50%
			width: 25%
			animation: loading 3s ease infinite

	.bar
		display: block
		position: absolute
		content: ""
		height: .2rem
		background-color: #008be8

#generate
	flex-basis: 100%
	margin: .5rem

	.generate-button
		background-color: #cc0000
		color: #fff
		float: right
		padding: .5rem
		font-size: 1.3rem

		&:disabled
			cursor: default
			background: #eaeaea
			color: #ccc

#log
	.log-entries
		display: flex
		flex-direction: column-reverse
		overflow: auto

		.log-entry
			display: flex
			flex-flow: row wrap
			margin-top: 1rem
			padding: 1rem
			background-color: #fff
			position: relative

			.iscc
				flex-basis: 100%
				font-size: 1.1rem
				margin-bottom: .5rem

			.flip
				position: absolute
				top: 1rem
				right: 1rem
				border: 2px solid black
				border-radius: 100%
				width: 1.5rem
				height: 1.5rem
				font-weight: bold
				&:before
					left: .5rem
					top: .08rem
					position: absolute
					content: 'i'

			input
				display: none

				&:checked
					~ .flip
						&:before
							left: .39rem
							top: -.05rem
							content: 'x'
					~ .front
						display: none
					~ .back
						display: block

			.front
				display: block
				.bits
					font-family: "roboto mono", monospace
					cursor: default
					.bit
						background-color: #1EB025
						color: rgba(255, 255, 255, 0.5)

						&.diff
							background-color: #FF0000
					.mid, .cid, .did, .iid
						&:hover
							.bit
								opacity: 0.5
							&:before
								content: 'Jaccard-Similarity: ' attr(data-sim) '%'
								position: absolute
								color: #000
								font-weight: bold
			.back
				display: none
				flex-direction: column

				.text input
						display: none

						~ .short
							display: block

						~ .long
							display: none

						&:checked

							~ .short
								display: none
							~ .long
								display: block

@keyframes loading {
	from { left: -50%; width: 25%; }
	25% { left: 25%; width: 50%; }
	50% { left: 125%; width: 25% }
	75% { left: 25%; width: 50% }
	to { left: -50%; width: 25%; }
}
