input(type="checkbox", name="flip")
label.flip

.date
.iscc

.front

	.row
		.label(data-id= "metaID")
		.bits

	.row
		.label(data-id= "contentID")
		.bits

	.row
		.label(data-id= "dataID")
		.bits

	.row
		.label(data-id= "instanceID")
		.bits

.back

	.title
	.creator

	label.text
		input(type="checkbox")
		.short
		.long