html

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ISCC Demo
		link(rel="stylesheet", href="/css/style.css")
		script(src="/socket.io/socket.io.js")
		script(src="/libraries/functions.js")
		script(src="//cdn.ckeditor.com/4.7.1/full/ckeditor.js")

	body

		section#result

			.heading ISCC

			.id#metaID MetaID
				.value 000000000000000
				.bits
					- for (var i = 0; i < 64; ++i) {
						span.bit 0
					- }

			.id#contentID ContentID-Text
				.value 000000000000000
				.bits
					- for (var i = 0; i < 64; ++i) {
						span.bit 0
					- }

			.id#dataID DataID
				.value 000000000000000
				.bits
					- for (var i = 0; i < 64; ++i) {
						span.bit 0
					- }

			.id#instanceID InstanceID
				.value 000000000000000
				.bits
					- for (var i = 0; i < 64; ++i) {
						span.bit 0
					- }

			#loadingBar
				.bar

		section#bom

			.heading Basic On-Chain Metadata (BOM)

			.title
				span Title
				input(type="text", name="title", required)

			.creators
				span Creators

				button#addCreator

		section#text

			.heading Texteditor

			textarea(required).

		section#generate

			button(type=button) Generate ISCC

		section#log

			.heading Log

			.log-entries
				each entry in logEntries
					include logentry

		script
			include ../scripts/main.js