html

	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title ISCC Demo
		link(rel="stylesheet", href="/css/style.css")
		script(src="/socket.io/socket.io.js")
		script(src="/libraries/functions.js")
		script(src="//cdn.ckeditor.com/4.7.1/full/ckeditor.js")

	body

		section#result

			.heading ISCC

			each id in ['metaID', 'contentID', 'dataID', 'instanceID']
				.id(id= id)= id
					.value 000000000000000
					.bits
						each bit in new Array(64)
							span 0

		#loadingBar
			.bar

		#generate
			button.generate-button(type=button) Generate ISCC

		section#input-data

			#bom
				.heading Basic On-Chain Metadata (BOM)

				.title
					span Title
					input(type="text", name="title")

				.creators
					span Creators

					button#addCreator

			#text

				.heading Texteditor

				textarea

		section#log

			.heading Log

			.log-entries
				each entry in logEntries
					include logentry

		script
			include ../scripts/main.js